/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  list-style-type: none;
}

/*************************/
/* custom CSS properties */
/*************************/

:root {
  --red-color: #b40019;
  --black-color: #000000;
  --green-color: #006d1c;
  --gray-color: #666;

  --font-roboto: 'Roboto Slab', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

/*************/
/* navigatie */
/*************/

nav {
  display: flex;
  position: sticky;

  height:3em;
  position: sticky;

  background-color: black;
}

nav a:first-of-type {
  display: flex;
  position: absolute;

  height: 3em;
  length: auto;
  
  padding-right: .5em;
}

nav p {
  display: flex;
  position: absolute;
  left: 5em;

  color: white;
  font-family: var(--font-roboto);
  font-size: .8em;
  align-self: center;
}

nav a:nth-of-type(2) {
  display: flex;
  position: absolute;
  left: 10em;

  height: 35px;
  length: auto;

  align-self: center;
  vertical-align: baseline;
  
}

nav a:nth-of-type(3) {
  display: flex;
  position: absolute;
  right: 2em;

  height: 2em;
  length: auto;

  

  align-self: center;

  margin: 0 20px 0 10px;
}

nav a:nth-of-type(4) {
  display: flex;
  position: absolute;
  right: 0;

  height: 2em;
  length: auto;

  align-self: center;

  margin: 0 10px 0 10px;

  
}

/*************/
/* zoekbalk */
/*************/

nav:nth-of-type(2) {
  background-color: var(--red-color);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  width: 25em;
  height: 2.3 em;
   
  
}

form label {
 
}

nav:nth-of-type(2) a {
  height: 1.6em;
  length: auto;
  
}


/*************/
/*   main    */
/*************/

/*************/
/* section 1  */
/*************/

main section:first-of-type img {
  width: 100%;
}

/*************/
/* section 2 */
/*************/

/* informatie blokje */

/* kerst */

main section:nth-of-type(2) ul {
  margin-top: 2em;
}

main section:nth-of-type(2) ul:first-of-type {
  padding: 0;
  border-bottom: 1px solid rgb(179, 179, 179);
}

main section:nth-of-type(2) ul li:first-of-type {
  display: flex;
  
}

main section:nth-of-type(2) ul li:first-of-type p {
  color: var(--green-color);
  font-size: 1em;
  margin-left: 1em;
  margin-top: .2em;
}

main section:nth-of-type(2) ul li:first-of-type img {
  height: 2em;
  width: auto;
  margin-left: 1em;
}

/* retour */

main section:nth-of-type(2) ul li:nth-of-type(2) p {
  font-size: .8em;
  margin-left: 5.6em;
  margin-right: 2em;
  margin-top: -.5em;
}

main section:nth-of-type(2) ul li:nth-of-type(3) p {
  font-size: .8em;
  color: var(--gray-color);
  margin-top: 1.8em;
  margin-left: 5.6em;
  margin-right: 2em;
  margin-bottom: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) {
  margin-top: 1em;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 0;
}

main section:nth-of-type(2) ul:nth-of-type(2) li:first-of-type p {
  color: black;
}

main section:nth-of-type(2) ul:nth-of-type(2) li:last-of-type {
  margin-bottom: 1em;
}

/* cadeaubonnen */

main section:nth-of-type(2) ul:nth-of-type(3) {
  margin-top: 1em;
  padding: 0;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:first-of-type p {
  color: black;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) {
  margin-bottom: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) a {
  color: black;
  font-size: .8em;
  border: none;
  margin-left: 5em;
}

/*************/
/* section 3 */
/*************/

/* xmas deals */

main section:nth-of-type(3) {
  margin-top: 4em;
}

main section:nth-of-type(3) h2 {
  font-family: var(--font-roboto);
  font-size: 1em;
  font-weight: 100;
  margin-left: 1em;
}

/* algemeen */

/* schoenen */

main section:nth-of-type(3) article:first-of-type {
  position: relative;
  background-color: var(--red-color);
  margin: 1em;
  width: 17em;
  height: 25em;
}

main section:nth-of-type(3) article:first-of-type ul {
  padding-left: 0;
}

main section:nth-of-type(3) article:first-of-type ul li:first-of-type h3 {
  position: absolute;
  right: 5em;

  font-size: 2em;
  color: white;
}