/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  list-style-type: none;
}         

/*************************/
/* custom CSS properties */
/*************************/

:root {
  --red-color: #b40019;
  --black-color: #000000;
  --green-color: #006d1c;
  --gray-color: #666;

  --font-roboto: 'Roboto Slab', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

/*************/
/* navigatie */
/*************/

header {
  width: 100%;
}

header nav:first-of-type {
  display: flex;
  flex-wrap: nowrap;

  position: fixed;
  background-color: black;
  height: 3em;
  width: 100%;
  top: 0;

  z-index: 100;
}

header nav:first-of-type ul {
  display: flex;

  width: 100%;

  padding: 0;
  margin: 0;
}

header nav:first-of-type ul li:first-of-type img {
  height: 3em;

  justify-content: flex-start;
}

header nav:first-of-type ul li:nth-of-type(2) p {
  font-family: var(--font-roboto);
  font-size: .8em;
  
  color: white;
  
  margin-top: 1em;
  margin-left: .5em;
  
}

header nav:first-of-type ul li:nth-of-type(3) a img {
  height: 2.5em;
  margin-top: .3em;

  
}

header nav:first-of-type ul li:nth-of-type(3) {
  margin: 0 auto;
}

header nav:first-of-type ul li:nth-of-type(4) a img {
  height: 2em;
  margin-top: .5em;
}

header nav:first-of-type ul li:nth-of-type(5) img {
  height: 2em;
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em;

  justify-self: baseline;
}

header nav:first-of-type ul li:nth-of-type(5) {
  justify-self: baseline;
}

/*************/
/* zoekbalk */
/*************/

nav:nth-of-type(2) {
  background-color: var(--red-color);
  z-index: 100;
}

nav form {
  position: relative;
  display: flex;
  min-width: 10em;
  margin-top: 3em;
  margin-right: 1.5em;
  height: 3.1em;

  flex-grow: 1;
}

nav form a img {
  position: absolute;
  right: 1em;
  top: .6em;

  width: 1.8em;

  z-index: 20;
}

nav form input {
  position: absolute;
  top: .8em;
  left: 1em;
  right: 1em;

  height: 2em;
  width: 100%;
  padding: 1em;

  border: 0;

  flex-grow: 1;
}

nav:nth-of-type(2) a {
  height: 1.6em;
  length: auto;
  
}


/*************/
/*   main    */
/*************/

/*************/
/* section 1  */
/*************/

main section:first-of-type {
  position: relative;
 
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 11%, rgba(180,0,25,1) 100%); 

  height: 20em;
}

main section:first-of-type ul li:first-of-type img {
  width: 2em;
}

main section:first-of-type ul li:nth-of-type(2) h1 {
  font-family: var(--font-roboto);
  font-size: 3em;
  color: white;
  font-weight: 900;
  
  text-shadow: 1px 1px 5px black;

  position: absolute;
  top: .5em;
  left: 1em;  
}

main section:first-of-type ul li:nth-of-type(3) p {
  position: absolute;
  top: 2em;

  font-family: var(--font-roboto);
  font-weight: 10;
  font-style: italic;
  font-size: 3em;
  color: white;
}

main section:first-of-type ul li:nth-of-type(4) p {
  position: absolute;
  top: .7em;
  left: .1em;

  font-family: var(--font-roboto);
  font-weight: 900;
  font-size: 10em;
  color: white;
}

main section:first-of-type ul li:nth-of-type(5) p {
  
}

/*************/
/* section 2 */
/*************/

/* informatie blokje */

/* kerst */

main section:nth-of-type(2) ul {
  margin-top: 2em;
}

main section:nth-of-type(2) ul:first-of-type {
  padding: 0;
  border-bottom: 1px solid rgb(179, 179, 179);
}

main section:nth-of-type(2) ul li:first-of-type {
  display: flex;
  
}

main section:nth-of-type(2) ul li:first-of-type p {
  color: var(--green-color);
  font-size: 1em;
  margin-left: 1em;
  margin-top: .2em;
}

main section:nth-of-type(2) ul li:first-of-type img {
  height: 2em;
  width: auto;
  margin-left: 1em;
}

/* retour */

main section:nth-of-type(2) ul li:nth-of-type(2) p {
  font-size: .8em;
  margin-left: 5.6em;
  margin-right: 2em;
  margin-top: -.5em;
}

main section:nth-of-type(2) ul li:nth-of-type(3) p {
  font-size: .8em;
  color: var(--gray-color);
  margin-top: 1.8em;
  margin-left: 5.6em;
  margin-right: 2em;
  margin-bottom: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) {
  margin-top: 1em;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 0;
}

main section:nth-of-type(2) ul:nth-of-type(2) li:first-of-type p {
  color: black;
}

main section:nth-of-type(2) ul:nth-of-type(2) li:last-of-type {
  margin-bottom: 1em;
}

/* cadeaubonnen */

main section:nth-of-type(2) ul:nth-of-type(3) {
  margin-top: 1em;
  padding: 0;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:first-of-type p {
  color: black;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) {
  margin-bottom: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) a {
  color: black;
  font-size: .8em;
  border: none;
  margin-left: 5em;
}

/*************/
/* section 3 */
/*************/

/* xmas deals */

.xmas {
  font-family: var(--font-roboto);
  font-size: 1em;
  font-weight: 200;
  margin-left: 1em;
  margin-top: 3em;
}

main section:nth-of-type(3) {
  margin-top: 0em;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  

  overflow-x: scroll;
  
}

main section:nth-of-type(3) article {
  
}

/* algemeen */

main section:nth-of-type(3) article {
  flex-shrink: 0;
  position: relative;
  background-color: var(--red-color);
  margin: 1em 0 1em 1em;
  width: 17em;
  height: 25em;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 54%, rgba(180,0,25,1) 100%);
}

main section:nth-of-type(3) article:nth-of-type(3) {
  margin-right: 1em;
} 


main section:nth-of-type(3) article ul {
  padding-left: 0;
}

main section:nth-of-type(3) article ul li:first-of-type h2 {
  position: absolute;
  top: .4em;
  left: .4em;
  right: 5em;

  margin: 0;

  font-family: var(--font-roboto);
  font-size: 2em;
  color: white;
  font-weight: 800;
  line-height: .9em;
  
  text-shadow: 1px 1px 5px black;
}

main section:nth-of-type(3) article ul li:last-of-type p {
  position: absolute;
  bottom: 1em;
  left: 1em;

  font-family: var(--font-roboto);
  color: white;

}

/* schoen foto's */

main section:nth-of-type(3) article:first-of-type ul li:nth-of-type(2) img {
  position: absolute;
  top: 2em;
  right: 3em;

  width: 10em;
  height: auto;
}

main section:nth-of-type(3) article:first-of-type ul li:nth-of-type(3) img {
  position: absolute;
  top: 3em;
  right: 1em;

  width: 10em;
  height: auto;
}

main section:nth-of-type(3) article:first-of-type ul li:nth-of-type(4) img {
  position: absolute;
  bottom: 5em;
  left: 4em;

  width: 9em;
  height: auto;
}

main section:nth-of-type(3) article:first-of-type ul li:nth-of-type(5) img {
  position: absolute;
  bottom: 3em;
  left: 1em;

  width: 9em;
  height: auto;
}

/* jack photo's */

main section:nth-of-type(3) article:nth-of-type(2) ul li:nth-of-type(2) img {
  position: absolute;
  top: 3em;
  right: 1em;

  width: 9em;
  height: auto;
}

main section:nth-of-type(3) article:nth-of-type(2) ul li:nth-of-type(3) img {
  position: absolute;
  bottom: 3em;
  left: 1em;

  width: 9em;
  height: auto;
}

/* shirt photo's */

main section:nth-of-type(3) article:nth-of-type(3) ul li:nth-of-type(2) img {
  position: absolute;
  top: 4em;
  right: .5em;

  width: 12em;
  height: auto;
}

main section:nth-of-type(3) article:nth-of-type(3) ul li:nth-of-type(3) img {
  position: absolute;
  bottom: 4em;
  left: .5em;

  width: 12em;
  height: auto;
}

/*************/
/* section 4 */
/*************/

.kalender {
  display: flex;
  justify-content: center;

  font-family: var(--font-roboto);
  font-size: 1em;
  font-weight: 200;
  margin-left: 1em;
  margin-top: 3em;
}

main section:nth-of-type(4) {
  display: flex;
  justify-content: center;
}

main section:nth-of-type(4) article {
  background-color: var(--red-color);
  background: rgb(180,0,25);
  background: radial-gradient(circle, rgba(180,0,25,1) 0%, rgba(55,0,0,1) 100%); width: 17em;
  height: 10em;
  width: 15em;

  perspective: 500px;
}

main section:nth-of-type(4) article:first-of-type ul li:first-of-type h2 {
  position: absolute;
  left: .56em;
  top: -.2em;
  
  align-items: center;

  font-family: var(--font-roboto);
  color: white;
  font-size: 10em;
  font-weight: 900;
}

/*************/
/* section 5 */
/*************/

main section:nth-of-type(5) ul {
  display: flex;
  
  padding: 0;
  margin-top: 2em;
}

main section:nth-of-type(5) ul li h1 {
  font-family: var(--font-roboto);
  font-size: 1em;
  font-weight: 200;
  margin-left: 1em;
  margin-top: .3em;
  
}

main section:nth-of-type(5) ul li img {
  height: 2em;
  width: auto;
  margin-left: 1em;
  
}

/*************/
/* section 6 */
/*************/

/* algemeen */

main section:nth-of-type(6) {
  display: flex;
  overflow-x: scroll;

  margin-bottom: 1em;
}

main section:nth-of-type(6) article {
  position: relative;
  flex-shrink: 0;

  width: 11em;
  height: 13em;

  border: 1px solid var(--red-color);

  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* 1 */

main section:nth-of-type(6) article:first-of-type ul li:first-of-type img {
  position: absolute;
  top: 1em;
  left: 1.5em;

  height: 9em;
}

main section:nth-of-type(6) article:first-of-type ul li:last-of-type p {
  position: absolute;
  bottom: 1em;
  left: 3.7em;
  
  font-family: var(--font-roboto);
  color: var(--gray-color);
}

/* 2 */

main section:nth-of-type(6) article:nth-of-type(2) ul li:first-of-type img {
  position: absolute;
  top: 1em;
  left: 1em;

  height: 9em;
}

main section:nth-of-type(6) article:nth-of-type(2) ul li:last-of-type p {
  position: absolute;
  bottom: 1em;
  left: 3.7em;
  
  font-family: var(--font-roboto);
  color: var(--gray-color);
}

/* 3 */

main section:nth-of-type(6) article:nth-of-type(3) {
  margin-right: 1em;
}

main section:nth-of-type(6) article:nth-of-type(3) ul li:first-of-type img {
  position: absolute;
  top: 1em;
  left: 1.5em;

  height: 8em;
}

main section:nth-of-type(6) article:nth-of-type(3) ul li:last-of-type p {
  position: absolute;
  bottom: 1em;
  left: 3.7em;
  
  font-family: var(--font-roboto);
  color: var(--gray-color);
}

/*************/
/* section 7 */
/*************/

/* algemeen */

main section:nth-of-type(7) {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;

  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

main section:nth-of-type(7) article {

  
}
main section:nth-of-type(7) article ul {
  padding: 0;
}


main section:nth-of-type(7) article ul li img {
  width: 100%;
}

main section:nth-of-type(7) article ul li button:hover {
  box-shadow: 1px 1px 10px #666;
}

main section:nth-of-type(7) article ul li button:active {
  background-color: var(--red-color);
  color: white;
}

main section:nth-of-type(7) article ul li button:focus {
  background-color: black;
  color: white;     
}

main section:nth-of-type(7) article ul li button {
  width: 100%;

  padding: .5em;
  margin-top: .7em;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;

  background-color: white;

  border: 1px solid black;
  border-radius: 5px;

  text-align: center;

  font-family: var(--font-roboto);

  transition: .5s;
}

/*************/
/* section 8 */
/*************/

/* algemeen */

section:nth-of-type(8) {
  margin-top: 2em;
  padding: 0;
}

section:nth-of-type(8) article {
  display: grid;
  
  grid-gap: 1em;

  position: relative;

  padding: 0;
  margin: 0;

  height: 19em;
  width: 13em;
  background: rgb(180,0,25);
  background: radial-gradient(circle, rgba(180,0,25,1) 0%, rgba(55,0,0,1) 100%);
}

section:nth-of-type(8) article:first-of-type ul:first-of-type {
  position: absolute;
  background-color: black;
  width: 13em;
  height: 2.5em;
}

/* iron maiden vs marvel */

section:nth-of-type(8) article:first-of-type ul:first-of-type li:first-of-type img {
  position: absolute;
  left: .1em;
  top: .7em;

  width: 7.5em;

  border-right: 1px solid var(--red-color);
  padding-right: .5em;
  margin-left: .2em;
}

section:nth-of-type(8) article:first-of-type ul:first-of-type li:nth-of-type(2) img {
  position: absolute;
  right: .5em;
  top: .4em;

  width: 4em;
}

/* shirts */

section:nth-of-type(8) article:first-of-type ul:nth-of-type(2) li:first-of-type img {
  position: absolute;
  top: 3em;
  left: .5em;

  height: 6em;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(2) li:nth-of-type(2) img {
  position: absolute;
  top: 3.5em;
  right: .5em;

  height: 6em;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(2) li:nth-of-type(3) img {
  position: absolute;
  bottom: 5em;
  left: .5em;

  height: 6em;
  z-index: 50;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(2) li:nth-of-type(4) img {
  position: absolute;
  bottom: 4.5em;
  right: .5em;

  height: 6em;
  z-index: 50;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(2) li:nth-of-type(5) img {
  position: absolute;
  top: 5.5em;
  left: 3.4em;

  height: 6em;
}

/* text */

section:nth-of-type(8) article:first-of-type ul:nth-of-type(3) {
  position: absolute;
  bottom: .7em;
  left: .9em;
  background-color: white;

  width: 11em;
  height: 3em;

  opacity: 75%;

  padding: 0;

  z-index: 60;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(3) li:first-of-type h1 {
  position: absolute;
  bottom: 1.6em;
  left: 1em;

  font-size: .9em;

  font-family: var(--font-roboto);
  background-color: white;
  font-weight: 100;
}

section:nth-of-type(8) article:first-of-type ul:nth-of-type(3) li:nth-of-type(2) h2 {
  position: absolute;
  bottom: .3em;
  left: 2.7em;
  text-decoration: underline;

  font-family: var(--font-roboto);
  font-size: .9em;
  font-weight: 100;
}